<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var number = NaN;
        var character_type = NaN;
        var function_target = NaN;
        var isGood = NaN;
        var alive = NaN;
        var awaked = false;
        var final_awake = false;
        var langrenopen = true;
        var langrenclose = true;
        var nvwuopen = true;
        var nvwuclose = true;
        var yuyanjiaopen = true;
        var yuyanjiaclose = true;
        var jingxuan = true;
        var tianliangle = true;
        navigator.vibrate = navigator.vibrate
            || navigator.webkitVibrate
            || navigator.mozVibrate
            || navigator.msVibrate;

        function execute_function() {
            function_target = document.getElementById('function_number').value;
        }

        function choose_character() {
            number = document.getElementById('number').value;
            let xhr = new XMLHttpRequest();
            if (isNaN(Number(number)) || Number(number) > 12 || Number(number) < -1) {
                alert("请输入1到12的合法数字");
                return;
            }
            xhr.open('get', '/character?number=' + number, false);
            xhr.onreadystatechange = function () {
                let obj = JSON.parse(xhr.responseText);
                character_type = obj.type;
                document.getElementById('A1').innerHTML = obj.type;
                document.getElementById('A2').innerHTML = obj.number;
                document.getElementById('prepare').innerHTML = "";
                xhr.abort();
                wait_others_ready();
            };
            xhr.send();
        }

        function show() {
            console.log("asdad");
        }

        function wait_others_ready() {
            console.log("wait_others_ready");
            {#            let xhr = new XMLHttpRequest();#}
            let eventId = setInterval(function () {
                let xhr = new XMLHttpRequest();
                xhr.open('get', '/wait-others?number=' + number, false);
                xhr.onreadystatechange = function () {
                    let obj = JSON.parse(xhr.responseText);
                    if (!obj.ready) {
                        document.getElementById('A3').innerHTML = "以下玩家还没有准备好" + obj.noReady.join(" ");
                    } else {
                        if (character_type === '上帝') {
                            document.getElementById('闭眼').play();
                        }
                        document.getElementById('A3').innerHTML = "游戏开始，天黑请闭眼！";
                        window.clearInterval(eventId);
                        xhr.abort();
                        if (navigator.vibrate) {
                            //vibrate 1 second
                            navigator.vibrate(1000);
                        } else if (navigator.webkitVibrate) {
                            navigator.webkitVibrate(1000);
                        }
                        {#                        navigator.vibrate([500, 300, 400, 300]);#}
                        setTimeout(process_round(), 5000);
                    }
                }
                xhr.send();
                console.log('send a request');
            }, 3000)
        }

        function process_round() {
            let url = `/execute-function?number=${number}`;
            let eventId = setInterval(function () {
                let xhr = new XMLHttpRequest();
                xhr.open('get', url, false);
                xhr.onreadystatechange = function () {
                    let obj = JSON.parse(xhr.responseText);
                    if (obj.round === 'kill') {
                        if (langrenopen && character_type === '上帝') {
                            setTimeout(function () {
                                document.getElementById('狼人').play()
                            }, 3000);
                            langrenopen = false

                        }
                        if (character_type === '狼人') {
                            if (!awaked) {
                                if (navigator.vibrate) {
                                    //vibrate 1 second
                                    navigator.vibrate(1000);
                                } else if (navigator.webkitVibrate) {
                                    navigator.webkitVibrate(1000);
                                }
                                awaked = true
                            }
                            document.getElementById('A4').innerHTML = `狼人请杀人，请其他狼人闭眼后由一位玩家输入今晚的击杀目标`;
                            if (!isNaN(function_target)) {
                                url = `/execute-function?number=${number}&killed=${function_target}`;
                                document.getElementById('A4').innerHTML = `狼人请闭眼`;
                                {#                            document.getElementById('A5').innerHTML  = "";#}
                                function_target = NaN
                            }
                        }
                    }
                    if (obj.round === 'heal') {
                        if (character_type === '上帝') {
                            if (langrenclose) {
                                document.getElementById('狼人闭眼').play();
                                langrenclose = false
                            }
                            if (nvwuopen) {
                                setTimeout(function () {
                                    document.getElementById('女巫').play()
                                }, 3000);
                                nvwuopen = false
                            }
                        }
                        if (character_type === '女巫') {
                            if (!awaked) {
                                if (navigator.vibrate) {
                                    //vibrate 1 second
                                    navigator.vibrate(1000);
                                } else if (navigator.webkitVibrate) {
                                    navigator.webkitVibrate(1000);
                                }
                                awaked = true
                            }
                            let people_killed = obj.people_killed;
                            document.getElementById('A4').innerHTML = `女巫，昨晚晚上死亡的是${people_killed}号，如使用解药请输入被杀人的号码，如使用毒药则输入一个其他号码，如不使用要则输入0`;
                            if (!isNaN(function_target)) {
                                url = `/execute-function?number=${number}&heal=${function_target}`;
                                document.getElementById('A4').innerHTML = '女巫，请闭眼';
                                function_target = NaN
                                {#                            document.getElementById('A5').innerHTML  = "";#}
                            }
                        } else {
                            document.getElementById('A4').innerHTML = "";
                        }
                    }
                    if (obj.round === 'check') {
                        if (character_type === '上帝') {
                            if (nvwuclose) {
                                document.getElementById('女巫闭眼').play();
                                nvwuclose = false
                            }
                            if (yuyanjiaopen) {
                                setTimeout(function () {
                                    document.getElementById('预言家').play()
                                }, 3000);
                                yuyanjiaopen = false
                            }
                        }
                        if (character_type === '预言家') {
                            if (!awaked) {
                                if (navigator.vibrate) {
                                    //vibrate 1 second
                                    navigator.vibrate(1000);
                                } else if (navigator.webkitVibrate) {
                                    navigator.webkitVibrate(1000);
                                }
                                awaked = true
                            }
                            if (obj.hasOwnProperty('is_good')) {
                                if (obj.is_good) {
                                    isGood = '好人'
                                } else {
                                    isGood = '狼人'
                                }
                                document.getElementById('A4').innerHTML = `预言家，${function_target}的身份是${isGood}`
                            } else {
                                document.getElementById('A4').innerHTML = `预言家，请输入今晚你想验证的人的数字（1-12）`
                                if (!isNaN(function_target)) {
                                    url = `/execute-function?number=${number}&check=${function_target}`;
                                    {#                            document.getElementById('A5').innerHTML  = "";#}
                                }
                            }
                        }
                    }
                    if (obj.round === 'elect') {
                        if (character_type == '上帝') {
                            if (yuyanjiaclose) {
                                document.getElementById('预言家闭眼').play();
                                yuyanjiaclose = false
                            }
                            if (jingxuan && !yuyanjiaclose) {
                                setTimeout(function () {
                                    document.getElementById('竞选').play();
                                    jingxuan = false;
                                }, 3000);
                            }
                            if (tianliangle && !jingxuan) {
                                setTimeout(function () {
                                    document.getElementById('天亮了').play();
                                    window.clearInterval(eventId);
                                    xhr.abort();
                                }, 10000);
                                tianliangle = false
                            }
                        }
                        {#                        alive = obj.alive#}
                        let died = [];
                        let index = 0;
                        for (i = 1; i < 13; i++) {
                            if (!obj.alive[i]) {
                                died[index++] = i;
                            }
                        }
                        if (died.length == 0) {
                            alive = "昨夜是平安夜";
                        } else {
                            alive = `昨夜死亡的是${died[0]}号玩家`
                            if (died.length === 2) {
                                alive += `和${died[1]}号玩家`
                            }
                            if (character_type === '猎人' && obj.poison == number) {
                                alive += "猎人你被毒死了不能开枪";
                            }
                        }
                        setTimeout(function () {
                            document.getElementById('A3').innerHTML = `天亮了`;
                        },13000);

                    }
                };
                xhr.send();
            }, 3000);
        }
    </script>
</head>
<body>
    <div id="prepare">
        <p>请输入你的号码</p>
        <input id="number">
        <button onclick="choose_character()">submit</button>
    </div>
    <p>
        <b>你的身份是:</b>
        <span id="A1"></span>
    </p>
    <p>
        <b>你的号码是:</b>
        <span id="A2"></span>
    </p>
    <p>
        <b>信息</b>
        <span id="A3"></span>
    </p>
    <div>
        <b>功能</b>
        <div id="A5">
            <p id="A4"></p>
            <input id="function_number">
            <button onclick="execute_function()">submit</button>
        </div>
    </div>
    <div>
        <p id="A6"></p>
        <button onclick="document.getElementById('A6').innerHTML = alive">查看今晚结果（请警长竞选结束后点击）</button>
    </div>
    <div>
        <audio src="{{ url_for('static', filename='audio/闭眼.mp3') }}" id="闭眼"></audio>
        <audio src="{{ url_for('static', filename='audio/狼人.mp3') }}" id="狼人"></audio>
        <audio src="{{ url_for('static', filename='audio/女巫.mp3') }}" id="女巫"></audio>
        <audio src="{{ url_for('static', filename='audio/预言家.mp3') }}" id="预言家"></audio>
        <audio src="{{ url_for('static', filename='audio/预言家闭眼.mp3') }}" id="预言家闭眼"></audio>
        <audio src="{{ url_for('static', filename='audio/女巫闭眼.mp3') }}" id="女巫闭眼"></audio>
        <audio src="{{ url_for('static', filename='audio/狼人闭眼.mp3') }}" id="狼人闭眼"></audio>
        <audio src="{{ url_for('static', filename='audio/竞选.mp3') }}" id="竞选"></audio>
        <audio src="{{ url_for('static', filename='audio/天亮了.mp3') }}" id="天亮了"></audio>
    </div>
</body>
</html>